@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  height: 100%; /* Asegura que el body ocupe el 100% de la pantalla */
  color: #333;
}

.main-content {
  padding-top: 0px; /* Ajusta este valor para coincidir con la altura de tu Header */
}

#root {
  height: 100%; /* Asegura que el root ocupe todo el alto también */
}
