@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  height: 100%; 
  color: #333;
}

.main-content {
  padding: 0; 
  margin: 0;  
}

#root {
  height: 100%; 
}
