.banner-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 0; 
    padding: 0; 
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    max-height: 100vh; 
    object-fit: cover;
  }
  