.product-card {
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  width: 160px;
  transition: transform 0.3s ease;
  flex: 0 0 calc((100% / 2) - 4px);
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 6px 0px #CCCACA;;
}
.product-card:hover {
  transform: scale(1.01);
}

.product-image {
  width: 99.35px;
  height: 99.55px;
  top: 17px;
}

.product-title {
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.product-price {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 14.06px;
  text-align: center;
}

.product-button {
  background-color: white;
  color: #dc1e0f;
  border: solid 1px #dc1e0f;
  border-radius: 20px;
  cursor: pointer;
  line-height: 12.5px;
  text-align: center;
  font-family: "Encode Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .product-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    width: 250px;
    height: 380px;
    flex: 0 0 calc((100% / 5) - 10px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 1px;
  }

  .product-card:hover {
    transform: scale(1.01);
  }

  .product-image {
    width: 188px;
    height: 188px;
    top: 22px;
    left: 29px;
    gap: 0px;
    opacity: 0px;
  }

  .product-title {
    color: #5e5e5e;
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    height: 40px;
    top: 232px;
    gap: 0px;
    opacity: 0px;
  }

  .product-price {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.13px;
    text-align: center;
    margin-top: 30px;
  }

  .product-button {
    background-color: white;
    color: #dc1e0f;
    border: solid 1px #dc1e0f;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    line-height: 12.5px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
    font-family: "Encode Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    width: 117px;
    height: 33px;
    margin-top: 20px;
  }
}
